// Global default params
params {
    max_memory = 32.GB
    max_cpus = 8
    max_time = 24.h
}

// Process-specific configuration
process {
    // General process configuration
    executor = 'slurm'
    clusterOptions = { ' -V --partition=normal ' }  // Remove account specification or update with your actual account
    // clusterOptions = "-l mem_free=${memory.toString().replaceAll(/[\sB]/,'')}"
    
    penv = 'OpenMP'
    pollInterval = '30 sec'
    exitReadTimeout = "120 sec"

    cpus = 1
    memory = { check_max( 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }

    // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel: 'samtools_1' {
        cpus = 1
        memory = '4 GB'
        container = "${params.cacheDir}/samtools:1.22--h96c455f_0"
    }

    withLabel: 'samtools_8' {
        cpus = 8
        memory = '16 GB'
        container = "${params.cacheDir}/samtools:1.22--h96c455f_0"
    }

    withLabel: 'pysam' {
        cpus = 1
        memory = '4 GB'
        container = "${params.cacheDir}/pysam_py39.sif"
    }

    withLabel: 'bowtie2' {
        cpus = 8
        memory = '32 GB'
        container = "${params.cacheDir}/bowtie2:2.5.4--he96a11b_6"
    }


}


// Enable Singularity
singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.cacheDir
}

// Profiles
profiles {
    standard {
        process.executor = 'slurm'
        process.queue = 'normal'
        // Remove or update account with your actual SLURM account
        process.clusterOptions = '--partition=normal'
        process.maxCpus = 32
        process.maxMemory = '128 GB'
    }
    
    // Remove docker profile as we're using Singularity
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    
    conda {
        conda.enabled = true
        singularity.enabled = false
    }
}

// Manifest
manifest {
    name = 'Test'
    author = 'Your Name'
    description = 'Testing WorkFlow on Pluto'
    version = '0.2.15.0000'
    nextflowVersion = '>=21.04.0'
}


// Execution reports
report {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_execution_report.html"
}

timeline {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_timeline_report.html"
}

trace {
    enabled = true
    overwrite = true 
    file = "${params.outdir}/${params.batchName}_trace.txt"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}